name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore ./OrderProcessor.Service/OrderProcessor.Service.csproj
      - name: Build
        run: dotnet build --no-restore -c Release ./OrderProcessor.Service/OrderProcessor.Service.csproj
      - name: Test
        run: dotnet test --no-build -c Release
